@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg{
    /* border: 2px solid red; */
    background-image: url(images/classes.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position-y: -10px; */
    overflow-x: hidden !important;
    height: 630px;
    z-index: 2;
}

.bord{
    /* border: 2px solid red; */
    background-color: rgba(0, 0, 0, 0.503);
    height: 690px;
}

.container-fluid  img{
    color: #dbdbdb;
    /* margin-left: 20px; */
    margin-top: -20px;
    height: 150px;
    width: 100%;
}

.navbar-nav a{
    position: relative;
    font-family: 'Poppins' sans-serif;
    font-size: larger;
    font-weight: 550;
    padding: auto;
    color: #dbdbdb;
    top: -30px;
    left: 600px;
    text-decoration: none;
    gap: 30px;
    /* justify-content: space-between; */
    transition: .5s;
}
.navbar-nav a:hover{
    color: #FF2F30;
}

#active{
    color: #FF2F30;
}


.bord h1{
    position: relative;
    font-family: 'Poppins' sans-serif;
    color: #ffffff;
    font-weight: 550;
    text-align: center;
    top: 460px;
}

span{
    color: #FF2F30;
}

.bord .btn{
    position: relative;
    font-family: 'Poppins' sans-serif;
    font-weight: 600;
    background-color: #dbdbdb;
    top: 200px;
    left: 550px;
    width: 11%;
    height: 40px;
    transition: .5s;
}

.bord .btn:hover{
    background-color: #c7c7c7;
}

.container{
    position: relative;
    /* border: 2px solid red; */
    min-width: 100%;
    height: 780px;
}

.container .display{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.display .box{
    position: relative;
    cursor: pointer;
    /* border: 2px solid red; */
    background-image: url(images/weight.jpg);
    background-size: cover;
    background-position: -300px;
    width: 30%;
    height: 320px;
    top: 50px;
    left: 20px;
}

.bord1{
    /* border: 2px solid red; */
    background-color: rgba(0, 0, 0, 0.273);
    height: 320px;
}

.bord1 .bx{
    position: relative;
    /* border: 2px solid red; */
    background-color: #030412;
    width: 15%;
    height: 35px;
    top: -20px;
}

.bx .txt1{
    position: relative;
    font-family: 'Poppins' sans-serif;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
    top: 8px;
}

.bord1 .bx1{
    position: relative;
    /* border: 2px solid red; */
    background-color: #030412;
    width: 60%;
    height: 35px;
    top: 285px;
}

.bx1 .txt{
    position: relative;
    font-family: 'Poppins' sans-serif;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
    top: 5px;
}

.display .box1{
    position: relative;
    cursor: pointer;
    /* border: 2px solid red; */
    background-image: url(images/cardio.webp);
    background-size: cover;
    background-repeat: no-repeat;
    width: 30%;
    height: 320px;
    top: 50px;
    left: 20px;
}

.display .box2{
    position: relative;
    cursor: pointer;
    /* border: 2px solid red; */
    background-image: url(images/how_long_muscle_1200x1200.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 30%;
    height: 320px;
    top: 50px;
    left: 20px;
}

.display .box3{
    position: relative;
    cursor: pointer;
    /* border: 2px solid red; */
    background-image: url(images/yoga.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 30%;
    height: 320px;
    top: 50px;
    left: 20px;
}

.display .box4{
    position: relative;
    cursor: pointer;
    /* border: 2px solid red; */
    background-image: url(images/martial\ arts.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 30%;
    height: 320px;
    top: 50px;
    left: 20px;
}

.display .box5{
    position: relative;
    cursor: pointer;
    /* border: 2px solid red; */
    background-image: url(images/cycling.webp);
    background-size: cover;
    background-repeat: no-repeat;
    width: 30%;
    height: 320px;
    top: 50px;
    left: 20px;
}

.container1{
    position: relative;
    /* border: 2px solid red; */
    background: #030518;
    min-width: 100%;
    height: 300px;
}

.container-fluid1 img{
    position: relative;
    /* border: 2px solid red; */
    color: #dbdbdb;
    left: 170px;
    top: 40px;
    height: 100px;
    width: 10%;
}

.container1 .txt3{
    position: relative;
    width: 30%;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    color: #fafafa;
    left: 150px;
    top: 30px;
}

.container1 .social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background: transparent;
    text-decoration: none;
    border: 0.2rem solid #FF2F30;
    border-radius: 50%;
    font-size: 2rem;
    color: #FF2F30;
    margin: 4rem 1rem 3rem 0;
    transition: .5s ease;
}

.container1 .social-media a:hover{
    background-color: #FF2F30;
    color: #ffffff;
}

/* div{
    border: 2px solid red;
} */

.display2{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.box3{
    position: relative;
    /* border: 2px solid red; */
    width: 8%;
    top: -230px;
    left: 550px;
    height: 30px;
}

.txt4{
    position: relative;
    font-family: 'Poppins' sans-serif;
    font-size: larger;
    font-weight: 600;
    /* text-align: center; */
    color: #ffffff;
}

.txt5{
    position: relative;
    /* border: 2px solid red; */
    text-align: left;
    left: -30px;
    top: 20px;
}

.txt5 ul a{
    font-family: 'Poppins' sans-serif;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    color: #8b8b8b;
    line-height: 30px;
    transition: .5s;
}

.txt5 ul a:hover{
    color: #FF2F30;
}

.box4{
    position: relative;
    /* border: 2px solid red; */
    width: 12%;
    top: -230px;
    left: 700px;
    height: 30px;
}

.txt6{
    position: relative;
    font-family: 'Poppins' sans-serif;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    color: #8b8b8b;
    text-align: left;
    /* left: -30px; */
    top: 20px;
}

.txt7 a{
    position: relative;
    font-family: 'Poppins' sans-serif;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    color: #8b8b8b;
    text-align: left;
    /* left: -30px; */
    top: 35px;
}

.txt8 a{
    position: relative;
    font-family: 'Poppins' sans-serif;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    color: #8b8b8b;
    text-align: left;
    /* left: -30px; */
    top: 45px;
}

.container2{
    position: relative;
    /* border: 2px solid red; */
    background: #010001;
    min-width: 100%;
    height: 100px;
}

.txt9{
    position: relative;
    font-family: 'Poppins' sans-serif;
    font-size: 12px;
    color: #9d9d9d;
    text-align: center;
    top: 50px;
}