@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 2px solid red; */
}

.navbar-nav a {
    font-size: x-large;
    font-weight: 600;
    /* margin-right: 20px; */
    color: #dbdbdb;
    left: 200px;
    text-decoration: none;
    transition: .5s;
}

.goat{
    margin-left: 200px !important;
    /* border: 2px solid red; */
}

.navbar-nav a:hover {
    color: #FF2F30;
}

#active {
    color: #FF2F30;
}

.footer {
    background-color: #212529;
    color: white;
    padding: 20px 0;
}

.footer-layer {
    padding: 20px 0;

}

.fin a:hover {
    color: #FF2F30 !important;
   cursor: pointer;
}

.social-media a {
    width: 1rem;
    height: 1rem;
    background: transparent;
    border: 0.2rem solid #FF2F30;
    border-radius: 50%;
    font-size: 2rem;
    color: #FF2F30;
    margin: 4rem 1rem 3rem 0;
    transition: .5s ease;
}

.social-media a:hover {
    background-color: #FF2F30;
    color: #ffffff;
}


/* testimonies css  */

.testimonial {
    background-color: #f8f9fa;
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .raw{
    /* border: 3px solid ; */
    border-radius: 50%;
  }

@media  (max-width: 1200px) {
    .navbar-nav a{
        background-color: rgba(108, 108, 108, 0.342);
        /* opacity: 20px; */
        font-size: 20px;
        color: #ffff;
        text-align: center;

    }
    .goat{
        margin-left: 0px !important;
        /* border: 2px solid red; */
    }
    }